{% extends 'base.html' %}
{% block content %}
<section>
    <div class="jumbotron">
        <div class="text-center py-2">
        <h3>저의 블로그에 오신 것을 환영합니다.</h3>
        <img class="my-3" src="../../static/blog/images/cat.jpg">
        </div>
    </div>
    <div class="text-center">
        <p>이 블로그는 파이썬과 장고 웹 프레임워크로 개발한 블로그입니다!</p>
        <p>2022년 새해 복 많이 받으세요!</p>
        <p>올해에도 좋은 일만 있기를 기원합니다!</p>
        <p id="demo" class="my-3"></p>
    </div>
</section>
<!--<script src="../../static/board/js/main_js.js"></script>-->
{% endblock %}